<section>
  <br />
  <div class='create-quiz'>
    <%= link_to 'Create a Quiz', new_quiz_path %>
  </div>


    <% @quiz.each do |quest| %>
      <div class='show-quiz'>
        <strong>Title:</strong>
        <%= quest.title %>
        <div class="take-me">
          <%= link_to 'Take this Quiz!', quiz_path(quest) %><br />
        </div>
      </div>
    <% end %>

</section>
