<section>
<div class="quiz-title">
  <h3><strong><%= @quiz.title %></strong></h3>
</div>

<div>
  <% @quiz.questions.each do |q| %>
    <strong>Question:</strong>
    <%= q.name %> <br />
    <div class='answer-field'>
      <% q.question_choices.each do |a| %>
      <strong>Answers:</strong>
        <%= a.option %><br />
      <% end %>
    </div>
  <% end %>
</div>
