<section>
<!--   <p class="welcome-msg">Welcome to</p> -->
  <div class="welcome-image">
    <%= image_tag("https://lh6.googleusercontent.com/-anOOr9ADRbI/UmE_DL7xbdI/AAAAAAAAAls/gmlRo96aXcY/w441-h195-no/quizme.png") %>
  </div>

<!--   <div>
    <h2>Featured Quizzes</h2>
  </div> -->
</section>
