<section class='container-fluid'>
  <div class="welcome-image">
    <%= image_tag("https://lh6.googleusercontent.com/-anOOr9ADRbI/UmE_DL7xbdI/AAAAAAAAAls/gmlRo96aXcY/w441-h195-no/quizme.png") %>
  </div>

  <hr>

  <div class='first-description span3 offset1'>
    <%= image_tag("https://lh4.googleusercontent.com/-dlmaHVPSKl4/UmMripPfVGI/AAAAAAAAAp4/vxet-4lVH3s/w256-h160-no/newspaper_icon.png", size: "200") %>
    <p class='offset1'>
      Here at Quiz Me, create quizzes about current world news or any subject of your choice!
    </p>
  </div>

  <div class='second-description span3 offset3'>
    <%= image_tag("https://lh5.googleusercontent.com/-CyI8dK6pLns/UmMs9dAWgDI/AAAAAAAAAqM/lqhoPCHdPUo/s512-no/Check_Sign-512.png", size: "125", class: 'offset2') %>
    <p>
      Through your quizzes, spread knowledge of the world around us to loved ones and friends!
    </p>
  </div>
</section>
