/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 */
@import 'bourbon';
@import 'neat';
@import 'index';
@import 'new';
@import 'show';

/*.question-answer-set {
  border: 1px solid red;
}

.added {
  border: 1px solid blue;
}

.answer-set {
  border: 1px solid green;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: $verdana;
  background-color: #D7FFF3;
  // background: url("");
}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
}

nav {
  display: inline-block;
  @include linear-gradient(#8ccdae, #6fa88d);
  border-bottom: #5f9e80;
  background-color: gray;
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.primary-nav {
  float: left;
}

.secondary-nav {
  float: right;
}

.content {
  @include outer-container;
  position: relative;
  z-index: 1;
  padding: 60px 0;
}

#user_email, #user_password, #user_password_confirmation, #user_current_password, #quiz_title, textarea {
  height: 34px;
  width: 300px;
  font-size: 14px;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
