.create-quiz {
  display: inline-block;
  padding: 5px;
  border: 1px solid #1bc6a5;
  border-radius: 5px;
  margin-bottom: 15px;
}

.show-quiz {
  border: 1px solid #1bc6a5;
  border-radius: 5px;
  margin: 0;
}
