section {
  @include span-columns(10);
  @include shift(1);
}

.quiz-title {
  text-align: center;
}

.q_a_set {
  // @include shift(3);
  text-align: center;
}

.answer-field {
  margin: 10px 15px;
}

#new_answer {
}
